body {
	font-family: 'Neufreit', ExtraBold;
}

header {
	margin-top: 30px;
}

header .nav {
	min-height: 80px;
	overflow: hidden;
	background: #fff;
}
/* --- LOGO --- */
header .logo h2,
header .logo span,
header .logo p {
	font-size: 16px;
	display: inline-block;
	margin:0;
}

header .logo h2 {
	font-weight: 800;
	text-transform: uppercase;
}

header .logo .icono {
	color: #bfbfbf;
}

header .logo p {
	color: #777777;
}

/* --- MENU --- */
header .menu {
	padding: 0;
}

header .menu a {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 0 30px;
}

header .menu a div span {
	font-weight: 600;
}

header .menu .c-1 {background: #3093D1;}
header .menu .c-2 {background: #E1DE1B;}
header .menu .c-3 {background: #E6137C;}

header .menu .c-1:hover {background: #000000;}
header .menu .c-2:hover {background: #000000;}
header .menu .c-3:hover {background: #000000;}

/* --- SLIDER --- */
.slider {
	margin-bottom: 40px;
}

.slider .col {
	padding: 0;
}
/* --- servicios --- */
.fondo{
	background-image: url(../img/amarillo.png);
	background-repeat: no-repeat;
}
.servicio {
	padding: 0 20px;
	margin-bottom: 40px;
	margin-top: 30px;
}


.titulospage{
	margin-top:100px;
	margin-left: 238px;
	font-family: 'Neufreit', ExtraBold;
	padding: 24px 0;
	color:  #E6137C;
}
.seccioncontacto{
	margin-top:55px;
	margin-left: 238px;
	font-family: 'Neufreit', ExtraBold;
	padding: 15px 0
}

.servicio .galeria .contenedor-imagen {
	margin-bottom: 5px;
	max-height: 180px;
	overflow: hidden;
}

.servicio .galeria .contenedor-imagen a {
	display: inline-block;
	background: #3da5e2;
}

.servicio .galeria .contenedor-imagen:hover img {
	opacity: .3;
}

.servicio .modal-dialog {
	width: 100%;
	height: 100%;
	max-height: 100%;
}
/* --- Mediaqueries --- */

/* Dispositivo xl */
@media screen and (max-width: 1199px) {}

/* Dispositivo lg */
@media screen and (max-width: 991px) {
	.logo {
		height: 76px;
	}

	.menu {
		min-height: 76px;
	}

	.menu a {
		width: 100%;
	}

	.menu a div {
		width: 100%;
	}

	.servicio .galeria .contenedor-imagen:nth-child(1) {order: 1;}
	.servicio .galeria .contenedor-imagen:nth-child(2) {order: 3;}
	.servicio .galeria .contenedor-imagen:nth-child(3) {order: 6;}
	.servicio .galeria .contenedor-imagen:nth-child(4) {order: 2;}
	.servicio .galeria .contenedor-imagen:nth-child(5) {order: 5;}
	.servicio .galeria .contenedor-imagen:nth-child(6) {order: 4;}
	.servicio .galeria .contenedor-imagen:nth-child(7) {order: 7;}

	.modal .modal-dialog {
		width: 90%;
	}

	.modal .modal-dialog .modal-content img {
		width: 100%;
	}
}

/* Dispositivo md */
@media screen and (max-width: 767px) {}

/* Dispositivo sm */
@media screen and (max-width: 575px) {
	header {
		margin-top: 0;
		text-align: center;
	}

	header .logo h2,
	header .logo p {
		font-size: 12px;
	}


.empresas .foto {
	text-align: center;
}

.empresas .foto img {
	margin-bottom: 30px;
}

.empresas .foto .nombre {
	color: #545454;
	font-weight: 300;
	font-size: 18px;
	letter-spacing:2px;
}

.empresas .info .titulo {
	color: #005385;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 40px;
	margin-bottom: 30px;
}

}
/* --- slider de marcas --- */

/* --- faqs --- */
.cyan{
	background-image: url(../img/cyan.png);
	background-repeat: no-repeat;
	background-position: absolute;
		
}
/* --- toTop --- */
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:30px;
	overflow:hidden;
	width:39px;
	height:36px;
	border:none;
	text-indent:-999px;
	z-index:999;
	background:url(../img/totop-01.png) no-repeat left top;
	transition: 0s ease;
	-webkit-transition: 0s ease;
	-o-transition: 0s ease;	
}
#toTop:hover {
	background-position: 0 bottom;
}


